<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#d3242c" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="favicon.png" />
    <meta name="keywords" content="Dahar" />
    <meta name="description" content="Web to find best cafe and restaurant" />
    <title>Dahar</title>
  </head>
  <body>
    <a href="#content" class="skip-to-content">Skip to content</a>
    <header id="header">
      <nav id="drawer">
        <nav-inner />
      </nav>
    </header>
    <main id="main"></main>
    <footer id="footer">
      <footer-inner />
    </footer>
  </body>
</html>
