<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Dahar" />
    <meta name="description" content="Web to find best cafe and restaurant" />
    <title>Dahar</title>
  </head>
  <body>
    <a href="#content" class="skip-to-content">Skip to content</a>
    <header id="header">
      <nav id="drawer">
        <nav-inner />
      </nav>
      <div id="hero">
        <hero-inner />
      </div>
    </header>
    <main id="main">
      <section id="content">
        <article id="categories">
          <h2 class="article-jumbo categories-jumbo">Categories</h2>
          <h3 class="article-title title-categories" tabindex="0">
            Restaurant Categories
            <hr class="article-title-line" />
          </h3>
          <div class="categories-center">
            <div class="categories-item">
              <img
                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29"
                alt=""
                class="categories-img"
              />
              <div class="categories-title" tabindex="0">Jawa</div>
            </div>
            <div class="categories-item">
              <img
                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38"
                alt=""
                class="categories-img"
              />
              <div class="categories-title" tabindex="0">Italia</div>
            </div>
            <div class="categories-item">
              <img
                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08"
                alt=""
                class="categories-img"
              />
              <div class="categories-title" tabindex="0">Bali</div>
            </div>
            <div class="categories-item">
              <img
                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40"
                alt=""
                class="categories-img"
              />
              <div class="categories-title" tabindex="0">Modern</div>
            </div>
            <div class="categories-item">
              <img
                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/45"
                alt=""
                class="categories-img"
              />
              <div class="categories-title" tabindex="0">Sunda</div>
            </div>
            <div class="categories-item">
              <img
                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04"
                alt=""
                class="categories-img"
              />
              <div class="categories-title" tabindex="0">Spanyol</div>
            </div>
          </div>
        </article>
        <article id="popular">
          <h2 class="article-jumbo popular-jumbo">Popular</h2>
          <h3 class="article-title" tabindex="0">
            Popular Restaurant
            <hr class="article-title-line" />
          </h3>
          <div class="popular-center"></div>
        </article>
        <article id="booking">
          <booking-inner />
        </article>
      </section>
    </main>
    <footer id="footer">
      <footer-inner />
    </footer>
  </body>
</html>
